@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    background: transparent;
}

.pswp {
    --pswp-bg: rgba(0, 0, 0, 0.9);
}

.leaflet-marker-icon.filtered {
  filter: grayscale(100%) brightness(100%);
  display: none;
}